@charset "utf-8";

html {
  background-color: #000000;
}
body {
  font-family: 'Inter', sans-serif; 
  font-weight: 400;
  font-size: 1rem;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.5;
  background-color: #ffffff;
  color: #0c0c0c;
}

header {
  background-color: #277ea0;
  color: #161515;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  padding: 1rem;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif; 
  font-weight: 200;
  font-size: 2.2rem;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; 
  font-size: 1.6rem;
  font-style: italic;
}

main {
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

footer a {
  text-decoration: none;
  color: #1b1919;
}

footer a:hover {
  color:#2809d4
}

footer {
  background-color: #277ea0;
  color: #1b1919;
  text-align: center;
  padding: 1rem;
  clear: both;
  font-size: 0.9rem;
}

ul{
  list-style-type: none;
}